
.row1 {
 height: 75px;
}


.storyTitle {
 margin-bottom: 10px;
 margin: 0px;
 padding: 0;
 font-style: italic;
 text-align: center;
 font-size: 20px;
}

.reader-container {
 position: relative;
 height: 100vh; 
overflow: hidden;
}

.image-column {
 flex: 1;
 display: flex;
 flex-direction: column; 
 justify-content: space-between;  /* Distribute space evenly */
 align-items: center;
}

.table-container {
  max-height: calc(100vh - 200px); 
  overflow-y: auto;
  scroll-behavior: smooth;
}

.table-column {
 flex: 1;
 height: 100%;
 overflow: auto;
 padding: 10px;
}

img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
 margin-bottom: 10px;  /* Add margin at the bottom */

}

.navigation-buttons {
 position: absolute;
 bottom: 0;
 right: 0;
}

.italic-text {
  font-style: italic;
}

.active-parent {
  background-color: #98ff98;
}

.active-child {
  background-color: #ffbf00;
}

.active-character {
  font-weight: bold;
}

.active-dialogue{
  color: #0000cc;
  font-weight: bold;
}



.text-size {
  font-size: 28px; /* adjust as needed */
}

.row.d-flex {
  display: flex;
}

.question-dialogue {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center text horizontally */
  align-items: center;  /* Center text vertically */
  height: 40%;
  border: 1px solid #ccc;
  position: relative; /* Make sure it's relative so that its children can be positioned absolutely in relation to it */
  border-radius: 20px;
  background-color: #97d597;
  font-size: 22px; 
  text-align: center;  /* Center text */
  width: 100%;
}



.show-icon {
  position: relative;
  background-color: #0d6efd;
  border-radius: 30px 30px 30px 30px; 
  justify-content: center;  /* Center text horizontally */
  
}

.question-header {
  font-size: 15px; 
  text-align: center; 
  border-radius: 10px 10px 0 0;  /* Round the top corners */
  width: 100%;
}


.image-column {
  display: flex;
  flex-direction: column; 
  align-items: center;
 }

 .role-image-container img {
  display: flex;  
  height: 20%;
  width: 20%;
}

.role-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 50, 0.7);
  }
  50% {
    box-shadow: 0px 0px 20px 10px rgba(0, 255, 50, 0.9);
  }
  100% {
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 50, 0.7);
  }
}

.highlight-button {
  background: linear-gradient(45deg, rgba(0, 255, 50, 0.1), rgba(0, 200, 50, 0.2));
  border-width: 4px; /* Even thicker border */
  border-color: rgb(0, 255, 50);
  border-style: solid;
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 50, 0.7);
  transition: all 0.5s ease-in-out;
  color: rgb(0, 150, 50); /* Assuming the text color is some shade of green */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for readability */
  animation: pulse 1.5s infinite; /* Pulsing animation */
}

.highlight-button:hover {
  box-shadow: 0px 0px 20px 10px rgba(0, 255, 50, 0.9);
  border-color: rgb(0, 255, 0);
  background: linear-gradient(45deg, rgba(0, 255, 50, 0.2), rgba(0, 200, 50, 0.3));
}


 



