/* RoleDraggable.css */

.DraggableContainer,
.parent-child-row,
.character-cards-container,
.droppable-area {
  overflow: visible !important;
}

.row, .col-2, .col-9 {
  overflow: visible !important;
}



.RoleDraggable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .RoleDraggable img {
    width: 90%;
    height: 90%;
    object-fit: contain;

  }

  .RoleDraggable span {
    font-size: 14px;
    font-weight: bold;
  }

  .RoleDraggable button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }


  .RoleDraggable.disabled {
    opacity: 0.5; /* Make it semi-transparent */
    pointer-events: none; /* Prevent interaction */
  }

  .RoleDraggable.dragging {
    z-index: 1000 !important; /* Ensures it's above everything */
    position: relative;
  }