.rightbutton{
    margin-top: 20%;
    margin-left: 5%;
}

.leftbutton{
    margin-top: 20%;
    margin-right: 5%;
}

.sectionTitle{
    font-style: italic;
    text-align: left;
  }

  .DraggableContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .RoleDraggable {
    flex-basis: calc(100% / 7); /* This will create 6 items per row, adjust as needed */
    box-sizing: border-box;
    margin: 5px; /* Optional, for some space between the items */
  }

  .character-cards-container {
    display: flex;
    flex-direction: column; /* stack cards vertically */
    justify-content: center; /* center vertically */
    align-items: center; /* center horizontally */
    height: 100%; /* take full vertical space */
  }

  