
.row1 {
 height: 75px;
}


.storyTitle {
 margin-bottom: 10px;
 margin: 0px;
 padding: 0;
 font-style: italic;
 text-align: left;
}

.reader-container {
 position: relative;
 height: 100vh; 
overflow: hidden;
}

.image-column {
 flex: 1;
 display: flex;
 flex-direction: column; 
 justify-content: space-between;  /* Distribute space evenly */
 align-items: center;
}

.table-container {
  max-height: calc(100vh - 200px); 
  overflow-y: auto;
  scroll-behavior: smooth;
}

.table-column {
 flex: 1;
 height: 100%;
 overflow: auto;
 padding: 10px;
}

img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
 margin-bottom: 10px;  /* Add margin at the bottom */

}

.navigation-buttons {
 position: absolute;
 bottom: 0;
 right: 0;
}

.italic-text {
  font-style: italic;
}

.active-parent {
  background-color: #98ff98;
}

.active-child {
  background-color: #ffbf00;
}

.active-character {
  font-weight: bold;
}

.active-dialogue{
  color: #0000CC;
  font-weight: bold;
}



.text-size {
  font-size: 28px; /* adjust as needed */
}

.row.d-flex {
  display: flex;
}

.question-dialogue {
  flex: 1;  /* Occupy the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center text horizontally */
  align-items: center;  /* Center text vertically */
  padding: 10px;
  height: 40%;
  border: 1px solid #ccc;
  position: relative; /* Make sure it's relative so that its children can be positioned absolutely in relation to it */
  border-radius: 20px;
  background-color: #97d597;
  font-size: 20px; 
  text-align: center;  /* Center text */
  width: 100%;
}

.hide-icon, .show-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: hsl(120, 42%, 71%);
  border-radius: 50px 50px 50px 50px; 
}

.question-header {
  font-size: 15px; 
  text-align: center; 
  border-radius: 10px 10px 0 0;  /* Round the top corners */
  width: 100%;
}


.image-column {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;  /* Distribute space evenly */
  align-items: center;
 }

 .role-image-container img {
  display: flex;  
  height: 50%;
  width: 50%;
}

.role-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



 



