  img {
   padding: 5px;
   max-width: 95%;
   max-height:95%;
 }

 .row1{
  height: 150px;
 }
 
 .homebtn{
    margin-top: 25px;
 }

 .title{
    margin-top: 25px;
    margin: 5px;
    padding: 0%;
 }